# Python
__pycache__/
*.py[cod]
*.pyc
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
version.py

# Env
.env
.venv
venv/
env/

# IDE
.idea/

# OS
.DS_Store

# Project
output*/
input*/
workdir/
submodule/
*.mcap
third_party/
